.Hero {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.Hero > p {
  font-size: 2em;
  font-weight: 200;
  width: 70%;
  color: #757575;
}

@media screen and (max-width: 1000px) {
  .Hero > p {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .Hero h1 {
   font-size: 5em;
 }
  .Hero > p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 365px) {
  .Hero h1 {
    font-size: 4em;
  }
}