.NavLinks {
  list-style: none;
  display: flex;
  padding: initial;
  padding-left: 2em;
}

@media screen and (min-width: 900px) {
  .NavLinks {
    padding-left: 0.2em;
  }
}

@media screen and (max-width: 500px) {
  .NavLinks {
    flex-direction: column;
  }
  .NavLinks {
    padding-left: 0;
  }
}